nav.home-header
  .home-content
    h3
      | Send Secret 
      br
      |  Anonymous Messages 
      br
      |  Online
    p
      | Kubool is an interactive anonymous messaging app with a dare game. 
      br
      | Create your Profile Link and Send it to all your contacts to check what do 
      br
      |  your friends think about you. With the help of Kubool, you can 
      br
      |  send and recieve anonymous
      |             compliments easily for free!
    p
      a.btn(href='#') Download Now 