footer
  p.footer_link
    | Copyright &copy; 2024 - Kudoo 
    b |
    a(href='https://gdpd.xyz/legal.php') Privacy Policy
    br
    |  Shoutout to 
    a(href='https://colorlib.com', target='_blank', rel='nofollow') Colorlib