header.header
  nav.navbar
    a.nav-logo(href='#') KUDOO.
    ul.nav-menu
      li.nav-item
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') Download
      li.nav-item
        a.nav-link(href='/login') Get started
      li.nav-item
        a.nav-link(href='#') Contact
    .hamburger
      span.bar
      span.bar
      span.bar