doctype html
head
  meta(charset='UTF-8')
  title kudoo | #{title}
  link(rel='icon', type='image/png', href='img/logo-icon.png')
  link(rel='stylesheet', href='css/changePwd.css')
section
  .signup_page
    .content
      img.login_logo(src='img/logo-icon.png', alt='KUBOOL')
      h3 Change Password
      br
      p
       | You can change your password from here
    form(method='POST')
      label.form_label(for='password') New Password
      input#password.form_input(type='password', name='password', placeholder='Enter new Password', minlength='8', maxlength='30', autocomplete='off', required='')
      br
      button(name='btn-password')
        span
          | Change Password
      button(align='center')
        a(href='/settings') Go Back 


- // FOOTER 
  include _footer 
        
script(src='/js/changePwd.js')
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')

