doctype html
head
  meta(charset='UTF-8')
  title kudoo | #{title}
  link(rel='icon', type='image/png', href='img/logo-icon.png')
  link(rel='stylesheet', href='css/email.css')
section
  .signup_page
    .content
      img.login_logo(src='img/logo-icon.png', alt='KUBOOL')
      h3 Change Email
      br
      p
       | Add your Email so that you can change your password easily
    form(method='POST')
      label.form_label(for='email') Your Email
      input#email.form_input(type='email', name='email', placeholder='email', minlength='3', maxlength='30', autocomplete='off', required='')
      br
      button(name='btn-email')
        span
          | Add Email
      button(align='center')
        a(href='/settings') Go Back 


- // FOOTER 
  include _footer 
        
script(src='/js/email.js')
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')

