doctype html
head
  meta(charset='UTF-8')
  title kudoo | #{title}
  link(rel='icon', type='image/png', href='img/logo-icon.png')
  link(rel='stylesheet', href='css/register.css')
section
  .signup_page
    .content
      img.login_logo(src='img/logo-icon.png', alt='KUBOOL')
      h3 Register
      br
    form(method='POST')
      label.form_label(for='username') Your Username
      input#username.form_input(type='username', name='username', placeholder='Enter your username', minlength='3', maxlength='15', autocomplete='off', required='')
      br
      label.form_label(for='password') Password
      input#password.form_input(type='password', name='password', placeholder='Enter your password', minlength='8', autocomplete='off', required='')
      br
      button(name='btn-signup')
        span
          | Register Account
      p.form_link(align='center')
        a(href='/login') Already Have an Account? Login

- // FOOTER 
  include _footer 
        
script(src='/js/register.js')
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')


